*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #0a0a0a;
    color: #f1f1f1;
}
header{
    background-image: url("https://mundodecinema.com/wp-content/uploads/2015/08/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;

    height: 80vh;
}
.cabeca{
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 1rem;
}
.cabeca img{
    height: 50px;
    aspect-ratio: 1;
    object-fit: contain;
}h1{
    color: rgb(10, 10, 10);
    text-shadow: 0 0 5px rgb(255, 69, 0);
    font-size: 8rem;
}h2, h3{
    color: rgb(255, 69, 0);
}p{
    font-size: 1.3rem;
    text-align: justify;
}a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}a:hover{
    text-decoration: underline;
}nav{
    display: flex;
    gap: 20px;
}
section{
    padding: 2rem;
}
section>h2{
    font-size: 3rem;
}#filme_destaque{
    display: flex;
    gap: 3rem;
}#filme_destaque>img{
    height: 600px;
    object-fit: contain;
}#filme_destaque h3{
    font-size: 2rem;
}#filme_destaque ul{
    margin: 2rem 0 0 20px;
}

#grade{
    display: flex;
    gap: 20px;

    height: fit-content;

    margin: 1rem 0;
    padding: 30px;
    max-width: 100vw;
    overflow-x: scroll;

}#grade img{
    height: 400px;
    border-radius: 8px;
}.card{
    background-color: #0f0f0f;
    border: 1px solid #686868;
    border-radius: 20px;
    padding: 10px;
}

table{
    border-collapse: collapse;
    font-size: 1.3rem;
}table tr:nth-child(even){
    background-color: #161616;
}
table th, table td{
    border: 1px solid #f1f1f1;
    padding: 1rem;
    
}table th{
    background-color: orangered;
    color: #0a0a0a;
    
}#generos ul{
    list-style-type: square;
}#generos nav, #contato nav{
    color: orangered;
}#contato{
    padding: 2rem;
    display: flex;
    gap: 5rem;
    align-items: center;
}